name: Test Positioning Simple

on:
  workflow_dispatch:

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      
      - uses: actions/setup-python@v5
        with:
          python-version: "3.11"
      
      - name: Install
        run: pip install pyairbnb==2.1.1 curl_cffi
      
      - name: Run
        run: python scrape_positioning_test.py
